#main-vision {
    padding-top: 2.5em;
}

#page-title {
    text-decoration: none;
    margin-left: 1%;
    margin-top: 1.5%;
}

#page-title div {
    line-height: 0;
    padding-left: 0.33%;
    font-size: 0.6vw;
}

#meta-display {
    margin-left: 3.5%;
    margin-right: 5%;
    max-width: 91%;
}

#work-2024 {
    margin-left: 4%;
    padding-right: 2%;
    max-width: 52.5%;
}

#box_container1 {
    max-width: 40%;
}

#search {
    margin-left: 3%;
    max-width: 90%;
}

#date {
    top: 0;
    margin-left: 7%;
    max-width: 80%;
}