body,
div {
    position: relative;
    line-height: 120%;
    margin: 0;
    padding: 0;
    display: block;
    font-size: 1.2vw;
    font-family: "蘋果儷中黑", "Helvetica Neue", Helvetica, "Roboto", Arial, "Apple LiGothic Medium", sans-serif;
    font-weight: 550;
    color: black;
}

body {
    background-color: #57EC00;
    display: flex;
    max-width: 1500px;
    flex-direction: column;
    padding-bottom: 30px;
}


.main-menu {
    margin-bottom: 1.2vh;
    width: 100%;
}


.image-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    line-height: 0;
    max-width: 100%;
}

.text-container {
    font-size: 1.35vw;
    margin-top: 0.5%;
    display: flex;
    justify-content: flex-end;
    margin-left: 16%;
    max-width: 85%;
}

.menu-list {
    overflow: visible;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 1em;
}



.menu-list {
    list-style: none;
    margin-block-start: 1vw;
    margin-block-end: 1vw;
    margin-inline-start: 1vw;
    margin-inline-end: 2vw;
    padding-right: 3vw;
    padding-inline-start: 0px;
}

.menu-list li {
    float: left;
    vertical-align: top;
}

.menu-list a {
    display: block;
    padding: 4px;
    border: 1px solid transparent;
    font-size: 1.35vw;
    color: black;
    text-decoration: none;
}

.menu-list :hover {
    color: rgb(4, 122, 28);
}

.sub-menu {
    overflow: visible;
    list-style: none;
    position: absolute;
    padding-left: 0;
    margin-top: 0;
    top: 100%;
    z-index: 3;
    background-color: #57EC00;
    height: auto;
}

.sub-menu li {
    float: none;
    border-collapse: collapse;
    border: 2px double #048b38;
}

.sub-menu a {
    font-size: 0.95vw;
}

.sub-menu :hover {
    color: rgb(4, 122, 28);
}

.spot-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    justify-content: space-around;
    list-style: none;
    margin-block-start: 1%;
    margin-block-end: 1%;
    margin-inline-start: 1%;
    margin-inline-end: 2%;
    padding-left: 0;
}

.spot-list :hover {
    color: rgb(4, 122, 28);
}

.spot-list li {
    max-width: 30%;
    float: left;
    padding-left: 1em;
    vertical-align: top;
    text-align: center;
}

.spot-list a {
    max-width: 100%;
    display: block;
    padding: 4px;
    border: 1px solid transparent;
    font-size: 1.35vw;
    color: black;
    text-decoration: none;
}

.section {
    max-width: 100%;
    margin-top: 1.2vh;
}

.article-title {
    font-size: 3.2vw;
}

.sub-title {
    font-size: 2.3vw;
    margin-inline-start: 6.6%;
    margin-top: 1em;
}

.small-title {
    font-size: 35px;
    margin-bottom: 0.66vw;
}

.main-text {
    font-size: 1.25vw;
    margin-inline-start: 6.6%;
    max-width: 90%;
    line-height: 2em;
    text-align: justify;
    margin-bottom: 0;
    padding-top: 10px;
    padding-right: 3vw;
}

.image_text {
    position: absolute;
    max-width: fit-content;
    left: 67%;
    top: 3em;
    background-color: transparent;
    font-size: 125vmin;
}

.search_bar {
    position: relative;
    max-width: 37%;
    height: auto;
    padding-left: 57%;
    bottom: 22.5vw;
}

.schedule_text {
    max-width: 20%;
    padding: 0;
    margin: 0;
    padding-left: 42%;
    font-size: 1.6vw;
    font-weight: 700;
    text-align: center;
    margin-top: 12%;
}


.demo {
    border: 2px double rgb(41, 67, 55);
    border-collapse: collapse;
    max-width: 65%;
    width: 65%;
    line-height: 3.25vh;
    font-size: 1.4vw;
    margin-left: 19.5%;
    padding: 5px;
}

.demo th {
    border: 2px double rgb(41, 67, 55);
    padding: 5px;
    background: #57EC00;
}

.demo td {
    border: 2px double rgb(41, 67, 55);
    padding: 5px;
    background: #57EC00;
}

.demo-2 {
    border: 2px double rgb(41, 67, 55);
    border-collapse: collapse;
    max-width: 65%;
    line-height: 1.5em;
    font-size: 0.95vw;
    margin-left: 19.5%;
    padding: 5px;
}

.demo-2 th {
    border: 2px double rgb(41, 67, 55);
    padding: 5px;
    background: #57EC00;
}

.demo-2 td {
    border: 2px double rgb(41, 67, 55);
    padding: 5px;
    background: #57EC00;
}

.first_col {
    text-align: center;
}

.newsline {
    color: black;
    margin-left: -1%;
    font-size: 1.85vw;
}

.new-sub-title {
    font-size: 1.2vw;
    margin-inline-start: 5.7vw;
    margin-top: 1vh;
}
